<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Accordion by me</title>
  <link rel="stylesheet" href="carousel.component.scss">
</head>
<body>
  <div class="slideshow-container">
    <div class="slide fade">
      <div class="numbertext">1 / 3</div>
      <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/12A9B/production/_111434467_gettyimages-1143489763.jpg" style="width:100%">
      <div class="text">Lorem Ipsum</div>
    </div>
    <div class="slide fade">
      <div class="numbertext">2 / 3</div>
      <img src="https://p4.wallpaperbetter.com/wallpaper/976/112/854/square-enix-nier-nier-automata-yorha-unit-no-9-type-s-wallpaper-preview.jpg" style="width:100%">
      <div class="text">Lorem Ipsum</div>
    </div>
    <div class="slide fade">
      <div class="numbertext">3 / 3</div>ng 
      <img src="https://p4.wallpaperbetter.com/wallpaper/163/80/901/group-of-people-persona-series-persona-5-wallpaper-preview.jpg" style="width:100%">
      <div class="text">Lorem Ipsum</div>
    </div>
    <a class="prev" (click)="showPrev()">&#10094;</a>
    <a class="next" (click)="showNext()">&#10095;</a>
  </div>
  <br>

  <div style="text-align:center">
    <span class="point"></span>
    <span class="point"></span>
    <span class="point"></span>
  </div>

</body>
</html>
